.button {
    padding: 15px 30px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    color: white;
}

.button:disabled {
    padding: 15px 30px;
    border-radius: 5px;
    cursor: default;
    border: none;
    background-color: #56779b;
    color: white;
}